<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>GoLang Demo Application</title>
    <link rel="stylesheet" href="/static/css/styles.css">
</head>
<body>
<div class="container-main-page">
    <h1>Welcome to My Application</h1>
    <p>We're glad you're here! Explore our services and enjoy your stay.</p>

    <div class="links">
        <a href="/api/v1/test">Check API Status</a>
        <a href="/api/v1/get-time">Show current time</a>
    </div>

<script src="/static/js/scripts.js"></script>
</div>
</body>
</html>