<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Library Management App</title>
    <link rel="stylesheet" href="/static/css/styles.css">
</head>
<body>
<div class="container-main-page">
    <h1>Library Management App—backend</h1>
    <p>We're glad you're here! Explore our services and enjoy your stay.</p>

    <div class="links">
        <a href="/api/health-check">Health check</a>
        <a href="https://library-management-app-frontend.pavelkostal.com/">Go to frontend application</a>
    </div>

<script src="/static/js/scripts.js"></script>
</div>
</body>
</html>